<div class="event-block event e-{{event.id}}">
{{#each (sortByProps markets 'sortedPos') }}
{{!-- {{#foreach markets}} --}}
	<div class="european-row market-list {{toLowerCase children.market.description}} market" >
		<div class="market-description">
            {{children.market.description}} - {{children.market.period}}
        </div>
            {{#if children.market}}
                {{> virtual/event-block style=children.market.style children=children.market.children first=$first id=children.market.id count=../../event.extendedCount eventID=../../event.id flags=children.market.flags columns=0 code=../../eventData.code liveMode=../../liveMode outcomeList=../../virtualOutcomeList}}
            {{/if}}
	</div>
{{!-- {{/foreach}} --}}
{{/each}}
</div>

