<div class="wrapper-main">
	<div class="panel-container"> {{!-- Note: This is going to be the div with green border --}}
		<div class="panel-top">
		    {{!-- start: Virtual Links --}}
			<div class="nav-group nav-virtual-links"></div>
			{{!-- end: Virtual Links --}}
		</div>
		<div class="panel-main"></div>
	</div>
</div>