<div id="{{id}}" class="form-wrapper {{klass}}">
        <div class="main-header"><h4>{{tPrefix "account" title}}</h4></div>
        <div class="panel panel-content">
			{{> ui/loading}}
        </div>
</div>