<form id="verify_password_form">
    <div class="panel panel-default">

        <div class="panel-heading">
            <div class="required-text">
                <strong class="required">*</strong>
                {{t "password.errorMissingField"}}
            </div>
        </div>

        <div class="panel-body">
            <div class="form-group">
                <label for="password">{{t "password.newPassword"}} <strong class="required">*</strong></label>
                <div>
                    <input type="password" id="password" name="password">
                </div>
            </div>
            <div class="form-group">
                <label for="confirmPassword">{{t "password.confirmPassword"}} <strong class="required">*</strong></label>
                <div>
                    <input type="password" id="confirmPassword" name="confirmPassword">
                </div>
            </div>
            <div id="errorMsgContainer" class="form-group hidden">
                <div id="errorMsg" class="text-danger"></div>
            </div>
        </div> {{!-- end: .panel-body --}}
        <div class="panel-footer">
            <div class="offset-wrapper">
                <button type="submit" class="btn-dark">{{t "password.savePassword"}}</button>
            </div>
        </div>
    </div> {{!-- end: .panel --}}
</form>