<div class="league-block league {{visible}} p-{{league.id}}" data-path="{{league.id}}">
    <div class="league-title">
        <div class="wrapper"> 
            {{!-- <a class="live-return-btn" title="Go Back"><i class="fa fa-chevron-circle-left"></i></a> --}}
                <span class="title">{{league.title}}</span>
        </div>
    </div>
    <div class="events-container">
        {{!-- {{#each league.events}}
            {{> asianview/event-block}}
        {{/each}} --}}
    </div>
</div>