

<div class="section-block {{sectionCode}}">
    <div class="section-container {{sportCode}}">
        <div class="{{region}}-row {{region}}-header">
            {{!-- start: TABLE HEADER --}}
            {{!-- end: TABLE HEADER--}}
        </div>
        <div class="league-container">
            {{!-- start: LEAGUE BLOCK --}}

            {{> ui/loading}}

            {{!-- end: LEAGUE BLOCK--}}
        </div>
    </div>
</div>