{{#times count}}
    <div class="scores{{updateSets ../sets this}}{{isSetActive ../sets this}}">
        <span class="score-a">{{showScoreOnSet ../sets this 'a' '0'}}</span><span>-</span><span class="score-b">{{showScoreOnSet ../sets this 'b' '0'}}</span><span class="set-separator">/</span>
    </div>
{{/times}}