<!-- start: live -->
<div class="live">

    <!-- start: title -->
    <div class="block-title">
        <div>Non-Live</div>
        <div>
            <span class="bet-icon icon-refresh"></span>
            <span>Refresh...</span>
            <span>56</span>
        </div>
        <div>
            <span class="pipe">|</span>
            <span class="bet-icon icon-clock"></span>
            <span>All Periods</span>

            <span class="pipe">|</span>
            <span class="bet-icon icon-bars"></span>
            <span>Market</span>

            <span class="pipe">|</span>
            <span class="bet-icon icon-trophy"></span>
            <span>League</span>
        </div>
    </div>
    <!-- end: title -->

    <!-- start: table event-table -->
    <table class="sportsview doubleview">
        <thead>
            <tr>
                <th rowspan="2">Time</th>
                <th rowspan="2">Event</th>
                <th colspan="4">Full Time</th>
                <th colspan="3" class="hide-in-sm">First Half</th>
                <th rowspan="2">+More</th>
            </tr>
            <tr>
                <th>HDP</th>
                <th>OU</th>
                <th>OE</th>
                <th>1x2</th>
                <th class="hide-in-sm">HDP</th>
                <th class="hide-in-sm">OU</th>
                <th class="hide-in-sm">1x2</th>
            </tr>
        </thead>

        <tbody class="odds-body">
            
        <tr>
            <td colspan="10"> 
                <div class="loading">
                    <i class="fa fa-spin fa-spinner"></i> Loading...
                </div>
            </td>
        </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="10"></td>
            </tr>
        </tfoot>
        

    </table> <!-- end: table event-table -->

</div> <!-- end: live -->