<tr class="league-title">
    <td colspan="10">
        <div class="wrapper">
            <a class="add-to-favourites">
                <i class="bet-icon icon-star-2"></i>
            </a>
            <span class="title">{{title}}</span>
        </div>
        
        {{!-- <a class="btn-custom btn-green more-league">+5</a> --}}
    </td>
</tr>