<div class="betslip-timedout betslip-message">

    {{t "betSlip.betSlipTimeout"}}

    <div>
        <button type="button" class="btn-betslip-exit" role="button" >{{t "betSlip.ok"}}</button>
    </div>
    
</div>


