<div class="betslip-maxbets betslip-message">
	<div class="maxbet-message">
    {{t "betSlip.maxBet"}}
    </div>
    <div>
        <button type="button" class="btn-betslip-exit" role="button" >{{t "betSlip.ok"}}</button>
    </div>
    
</div>