<div class="betslip-placed betslip-message">

    {{t "betSlip.betPlacedSuccess"}}

    <div>
        <button type="button" class="btn-betslip-exit" role="button" >{{t "betSlip.ok"}}</button>
    </div>
    

</div>


