<div class="wrapper-main">
<div class="locator-panel panel-container">
		<div class="panel-main">
			<div class="section-block">
			    <!-- start: title -->
			    <div class="section-title block-title">
			        <div class="title"><span>{{t title}}</span></div>
			    </div>
			    <!-- end: title -->

			    <!-- start: content -->
			    <div class="section-container">
			    	<iframe id="branch-locator" class="branch-locator" src="//media.megasportsworld.com/branch-locator/"></iframe>
			    </div>
			    <!-- end: content -->
			</div>

		</div>

</div>