
<div class="block-title">
    <div class="title">
        <span>
            <i class="fa fa-link icon"></i>
            {{t 'ui.quickLinks'}}
        </span>
    </div>
</div>
<ul class="nav-list nav-list-quick-links">
    <li>
        <a class="nav-loading"><i class="fa fa-spin fa-spinner"></i>  {{t "Loading..."}} </a>
    </li>
</ul>

