<div class="sports-block sports-block-{{sportsCode}}" data-sportscode="{{sportsCode}}">
	<div class="sports-title active">
		<i class="icon qicon-{{sportsCode}}"></i> 
		{{tPrefix 'sportCode' sportsCode}} 
		<i class="fa fa-chevron-right"></i>
	</div>
	<div class="sports-events"></div>
</div>