<div class="block-title">
    <div class="title">
        <span>
            <i class="icon fa fa-soccer-ball-o"></i>
            {{t 'ui.sports'}}
        </span>
    </div>
    {{!-- <div class="refresh-container">
        <span class="tree-refresh hidden"><i class="fa fa-refresh"></i></span>
        <span class="tree-loading"><i class="fa fa-spin fa-spinner"></i></span>
    </div> --}}
</div>

<ul class="nav-list nav-list-sports ">
</ul>