<li>
    <div class="nav-text">
        {{#if unavailable}}
            <span class="tree-name tree-loading">{{t 'sportstree.noavailable'}} </span>
        {{else}}
            <span class="tree-name tree-loading"><i class="fa fa-spin fa-spinner"></i>  {{t "Loading..."}} </span>
        {{/if}}
    </div>
</li>

