<div class="wrapper-main">
	<div class="static-panels panel-container">
		<div class="panel-main">
			<div class="section-block">
			    <!-- start: title -->
			    <div class="section-title block-title">
			        <div class="title"><span>{{t title}}</span></div>
			    </div>
			    <!-- end: title -->

			    <!-- start: content -->
			    <div class="section-container"></div>
			    <!-- end: content -->
			</div>

		</div>
		<div class="panel-right">
	    	<div class="static-tutorials">
			    <div class="block-title">
			    	<div class="title">
			    		<span>{{t 'ui.tutorials'}}</span>
			    	</div>
			    </div>
			    <div class="wrap-content">
			    	<img class="tlink" data-url="https://media.megasportsworld.com/training-videos.php" data-target="_blank" src="/assets/images/tutorials1.jpg" />
			    	<img class="tlink" data-url="" data-target="_blank" src="/assets/images/tutorials2.jpg" />
			    </div>
			</div>
		</div>
	</div>
</div>