<div class="vs-group virtual-basketball"></div>
<div class="vs-group virtual-football"></div>
<div class="vs-group virtual-horses"></div>
<div class="vs-group virtual-dogs"></div>
<div class="vs-group virtual-tennis"></div>