<div class="content">
	<div class="title" data-link="{{this.eventLink}}">{{{formatVMainTitle this.eventTitle this.eventCategory}}}</div>
	<div class="description">
		<div>{{formatVEventTitle this.eventDesc}}</div>
	</div>
	<div class="timer">
		<span class="header">Starts</span><span class="content">Soon</span>
	</div>
</div>
<div class="filler"><div class="title">Now Watching....</div></div> 