<div class="block-title">
    <div class="title">
        <span>
            <i class="fa fa-link icon"></i>
            {{t 'ui.virtualLinks'}}
        </span>
    </div>
</div>
<ul class="nav-list nav-list-quick-links">
    <!--li><a class="nav-loading"><i class="fa fa-spin fa-spinner"></i>  {{t "Loading..."}} </a></li-->
    <li><a data-url="/virtualfootball/" class="virtual-link">FootBall</a></li>
    <li><a data-url="/virtualhorses/" class="virtual-link">Horse Racing</a></li>
    <li><a data-url="/virtualdogs/" class="virtual-link">Dog Racing</a></li>
    <li><a data-url="/virtualtennis/" class="virtual-link">Tennis</a></li>
</ul>