<div class="content">
	<div class="title">{{this.eventTitle}}</div>
	<div class="description">{{this.eventDesc}}</div>
	<div class="timer retry">
		<span class="timer-loading"><i class="fa fa-refresh"></i></span>
	</div>
</div>
<div class="filler"><div class="title">Now Watching....</div></div> 