<div class="block-title {{vsTitle}}">
    <div class="title">
        <span>
            <i class="icon q{{getVSIcon vsTitle}}"></i>
            {{tPrefix 'vsport' vsTitle}}
        </span>
    </div>
    <!--div class="refresh-container">
        <span class="tree-refresh hidden"><i class="fa fa-refresh"></i></span>
        <span class="tree-loading"><i class="fa fa-spin fa-spinner"></i></span>
    </div-->
</div>
<div class="block-description {{vsTitle}}"></div>