<div class="market">
        <div class="group-row">
                {{> asianview/common/cell-outcome outcome=outcomeA}}
        </div>
        <div class="group-row">
                {{> asianview/common/cell-outcome outcome=outcomeB}}
        </div>
</div>