<div class="market-group-{{criteria}} m-{{id}} {{showFlags flags}}">
	<div class="market">
    	{{> asianview/common/group-1x1-spread outcomeA=children.[0] outcomeB=children.[1]}}
    </div>
    <div class="market">
    	{{> asianview/common/group-1x1-price outcome=children.[0]}}
    </div>
    <div class="market">
    	{{> asianview/common/group-1x1-price outcome=children.[1]}}
    </div>
</div>        