<div class="market-group-{{criteria}} market-OE market m-{{id}} {{showFlags flags}}">
	<div class="group-row">
    	{{> asianview/common/cell-prefix outcome=children.[0] prefix='o'}}
    	{{> asianview/common/cell-outcome outcome=children.[0]}}
    </div>
    <div class="group-row">
    	{{> asianview/common/cell-prefix outcome=children.[1] prefix='e'}}
    	{{> asianview/common/cell-outcome outcome=children.[1]}}
    </div>
    {{!-- <div class="group-row">
    	{{> asianview/common/cell-prefix}}
    	{{> asianview/common/cell-outcome}}
    </div> --}}
</div>