{{consoleLog this}}
<div class="market-group-{{criteria}} m-{{id}} {{showFlags flags}}">
	<div class="market">
    	{{> asianview/common/cell-outcome outcome=children.[0]}}
    </div>
    <div class="market">
    	{{> asianview/common/cell-outcome outcome=children.[2]}}
    </div>
    <div class="market">
    	{{> asianview/common/cell-outcome outcome=children.[1]}}
    </div>
</div>