<div class="market-group-{{criteria}} market-HDP market m-{{id}} {{showFlags flags}}">
	<div class="group-row">
    	{{> asianview/common/cell-spread-double outcome=children.[0] prefix=prefixA}}
    	{{> asianview/common/cell-outcome outcome=children.[0]}}
    </div>
    <div class="group-row">
    	{{> asianview/common/cell-spread-double outcome=children.[1] prefix=prefixB}}
    	{{> asianview/common/cell-outcome outcome=children.[1]}}
    </div>
    {{!-- <div class="group-row">
    	{{> asianview/common/cell-spread-double}}
    	{{> asianview/common/cell-outcome}}
    </div> --}}
</div>