<div class="market-group-{{criteria}} m-{{id}} {{showFlags flags}}">

        {{> asianview/common/group-cs-1x2 outcomeA=children.[0] outcomeB=children.[15] rowspan=1}}
        {{> asianview/common/group-cs-1x2 outcomeA=children.[1] outcomeB=children.[16] rowspan=1}}
        {{> asianview/common/group-cs-1x2 outcomeA=children.[2] outcomeB=children.[17] rowspan=1}}
        {{> asianview/common/group-cs-1x2 outcomeA=children.[3] outcomeB=children.[18] rowspan=1}}
        {{> asianview/common/group-cs-1x2 outcomeA=children.[4] outcomeB=children.[19] rowspan=1}}
        {{> asianview/common/group-cs-1x2 outcomeA=children.[5] outcomeB=children.[20] rowspan=1}}
        {{> asianview/common/group-cs-1x2 outcomeA=children.[6] outcomeB=children.[21] rowspan=1}}
        {{> asianview/common/group-cs-1x2 outcomeA=children.[7] outcomeB=children.[22] rowspan=1}}
        {{> asianview/common/group-cs-1x2 outcomeA=children.[8] outcomeB=children.[23] rowspan=1}}
        {{> asianview/common/group-cs-1x2 outcomeA=children.[9] outcomeB=children.[24] rowspan=1}}

        <div class="market">{{> asianview/common/group-1x1-price outcome=children.[10]}}</div>
        <div class="market">{{> asianview/common/group-1x1-price outcome=children.[11]}}</div>
        <div class="market">{{> asianview/common/group-1x1-price outcome=children.[12]}}</div>
        <div class="market">{{> asianview/common/group-1x1-price outcome=children.[13]}}</div>
        <div class="market">{{> asianview/common/group-1x1-price outcome=children.[14]}}</div>
        <div class="market">{{> asianview/common/group-1x1-price outcome=children.[25]}}</div>

</div>