<div class="market-group-{{criteria}} market-ML market m-{{id}} {{showFlags flags}}">
	<div class="group-row">
    	{{> asianview/common/cell-outcome outcome=children.[0]}}
    </div>
    <div class="group-row">
    	{{> asianview/common/cell-outcome outcome=children.[1]}}
    </div>
</div>