<div class="market-group {{showFlags flags}}">
	<div class="group-row">
		{{> europeanview/common/cell-outcome outcome=outcome code=code columns=columns team=team imagePath=imagePath outcomeList=outcomeList}}
	</div>
</div>