<div class="multileague-container">
	<div class="score-affix-container"> 
		{{#if hasMatchtracker}}
			{{> live/match-tracker frameUrl=frameUrl part=part}}
		{{/if}} 
		<div class="score-tracker-container"></div>
	</div>
	<div class="event-container"></div>
</div>